/* CSS Reset */
*{
    margin:0;
    padding:0;
}

/* REM Reference */
html{
    font-size:16px;
    font-family:'Courier New', Courier, monospace;
}

/* Root Variables */
:root{
    --header-height:2rem;
    --footer-height:1.5rem;
    --logo-height:2em;
    --margin:0.5rem;
}

/* Header */
header{
    position:relative;
}

header h1{
    font-size:calc(var(--header-height) / 2);
    line-height:var(--header-height);
}

/* Header / Footer common */
header, footer{
    margin:0 var(--margin);
}

/* Footer */
footer{
    font-size:calc(var(--footer-height) / 2);
    line-height:var(--footer-height);
}

/* Main */
#map{
    width:calc(100vw - var(--margin) * 2);
    height:calc(100vh - var(--header-height) - var(--footer-height));
    margin:0 auto;

    position:relative;
    overflow:hidden;
}

#map_coords, #cur_coords{
    background-color:white;
    padding:var(--margin);

    position:absolute;
    left:0;

    z-index:10;
}

#map_coords{
    bottom:0;
}

#logo{
    height:var(--header-height);
    font-size:calc(var(--header-height) / 2);
    line-height:calc(var(--header-height) - var(--margin) * 2);
    
    display:flex;
    position:absolute;
    right:0;
    top:0;

    box-sizing:border-box;
    background-color:white;
    padding:var(--margin);
    z-index:10;
}

#logo img, #logo a{
    display:block;
}

#logo img{
    max-height:100%;
    margin-right:0.5em;
}
